*{
    margin: 0;
    padding: 0;
}

body{
    height: max-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 50vw;
}

.row{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.gameBoard{
    width: 30vw;
    height: 30vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.possibleMove{
    /* background-color: rgba(0, 128, 0, 50%); */
    background-color: rgba(128, 0, 0, 0.5);
}